# ide settings
/.idea/

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# Temporal dev files
node_modules/

# App config
www/.env
.env-local

# App related
robots.txt

secretfolder/

# Log files
*.log

# Local docker-compose file
docker-compose.local.yml

